---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: netshoot
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.3.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: nicolaka/netshoot
      tag: latest

    command: "/bin/sh"
    args:
      - "-c"
      - "sleep infinity"

    podAnnotations:
      setGateway: "true"

    podSecurityContext:
      capabilities:
        add:
          - NET_ADMIN
    service:
      main:
        enabled: false